@media all and (min-width: 480px) {

    .card {
        border-radius: 0px !important;
    }

    #cardh {
        background-color: #0a7ebd;
        height: 40px;
        font-weight: bold;
        color: white;
        font-size: 20px;
    }

    #ctitle {
        font-size: 18px;
    }

    #tbdy {
        font-size: 14px; 
        text-align: center;
    }

    .tableFixHd {
        overflow-y: auto;
        height: 60vh;
    }

    .tableFixHd thead th {
        position: sticky;
        top: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
        border: 1px solid #ccc;
    }

    th {
        background: #434444;
        color: white;
        font-size: 16px;
        text-align: center;
    }

    thead {
        text-align: center;
    }

    tbody {
        font-size: 14px; 
        text-align: center;
    }

}

@media all and (max-width: 1366px) {

    .card {
        border-radius: 0px !important;
    }

    #cardh {
        background-color: #0a7ebd;
        height: 40px;
        font-weight: bold;
        color: white;
        font-size: 20px;
        border-radius: 0 !important;
    }

    #mcrd {
        height: 71.5vh;
    }

    #mchead {
        background-color: #0a7ebd;
        height: 40px;
        font-weight: bold;
        border-radius: 0 !important;
    }

    #ctitle {
        font-size: 16px;
    }

    #tbdy {
        font-size: 12px; 
        text-align: center;
    }

    #earned {
        font-size: 12px;
    }

    .tableFixHd {
        overflow-y: auto;
        height: 55vh;
    }

    .tableFixHd thead th {
        position: sticky;
        top: 0;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
        border: 1px solid #ccc;
    }

    th {
        background: #434444;
        color: white;
        font-size: 16px;
        text-align: center;
    }

    thead {
        text-align: center;
    }

    tbody {
        font-size: 14px; 
        text-align: center;
    }

}

@media all and (min-height: 600px) {

    .tableFixHd {
        overflow-y: auto;
        height: 60vh;
    }

    #mcrd {
        height: 75vh;
    }

}

@media all and (min-height: 700px) {

    .tableFixHd {
        overflow-y: auto;
        height: 60vh;
    }

    #mcrd {
        height: 75vh;
    }

}

@media all and (min-height: 800px) {

    .tableFixHd {
        overflow-y: auto;
        height: 58vh;
    }

    #mcrd {
        height: 80vh;
    }

}
