@media all and (min-width: 480px) {

    #bchead {
        background-color: #0a7ebd;
        height: 40px;
        font-weight: bold;
        color: white;
        font-size: 20px;
        border-radius: 0 !important;
      }

    #bcbody { 
        overflow-y: auto;
        min-height: 55vh; 
        max-height: 60vh;
    }

    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
    }

    #tybbody {
        height: 55vh;
        overflow-y: auto;
    }

    #btn {
        font-size: 14px; 
        font-weight: bold;
    }

    #bctitle {
        font-size: 18px;
    }

    .thanks {
        color: #014388;
        display: block;
        position: relative;
        border: 5px solid #0a7ebd;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        text-align: center;
        padding: 45px 0;
        margin: 30px auto;
        animation: roll 3s ease-in-out, moveRightToLeft 3s ease-in-out ;
    }

    @keyframes roll
        {
            0% { transform: rotate(0deg); }
            80% { transform: rotate(-385deg); }
            90% { transform: rotate(-350deg); }
            100% { transform: rotate(-360deg); }
        }
    
    @keyframes moveRightToLeft
        {
            0%   { right: -65%; }
            80% { right: 1%; }
            90% {right: -1%}
            100% {right: 0%}
        }

    #thanksText {
        font-family: "Lucida Handwriting", Arial Sans-serif;
        font-size: 2em;
        font-weight: bold;
    }

    .tcontact {
        position: relative;
        color: #0a7ebd;
        margin: 25px auto;
        width: 100%;
        text-align: center;
        animation: fadeIn ease-in 4s;
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        50% {opacity:0;}
        100% {opacity:1;}
      }

}

@media all and (max-width: 480px) {

    #mchead {
        background-color: #0a7ebd;
        height: 40px;
        font-weight: bold;
    }

    #mcbody {
        overflow-y: scroll;
        height: 65vh;
    }

    #mctitle {
        font-size: 16px;
    }

    #mbtn {
        font-size: 12px; 
        font-weight: bold;
    }

    #mcrd {
        height: 71.5vh;
    }

    .thanks {
        color: #014388;
        display: block;
        position: relative;
        border: 5px solid #0a7ebd;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        text-align: center;
        padding: 35px 0;
        margin: 30px auto;
        animation: roll 3s ease-in-out, moveRightToLeft 3s ease-in-out ;
    }

    @keyframes roll
        {
            0% { transform: rotate(0deg); }
            80% { transform: rotate(-385deg); }
            90% { transform: rotate(-350deg); }
            100% { transform: rotate(-360deg); }
        }
    
    @keyframes moveRightToLeft
        {
            0%   { right: -100%; }
            80% { right: 1%; }
            90% {right: -1%}
            100% {right: 0%}
        }

    #thanksText {
        font-family: "Lucida Handwriting", Arial Sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }

    .tcontact {
        position: relative;
        color: #0a7ebd;
        margin: 25px auto;
        width: 100%;
        text-align: center;
        animation: fadeIn ease-in 4s;
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        50% {opacity:0;}
        100% {opacity:1;}
        }

}

@media all and (max-width: 320px) {


}