@media all and (min-width: 480px) {

    #background {
        background-repeat: no-repeat; 
        background-position: center; 
        background-size: cover; 
        min-height: 60vh; 
        height: 100%; 
        position: relative;
        border-radius: 0 !important;

    }

    #news {
        font-size: 20px; 
        color: #434444; 
        background-color: rgba(255,255,255, 0.75);
    }
    
    #buttons {
        position: absolute; 
        bottom: 0; 
        margin-bottom: 30px; 
        width: 100%
    }

    #btn {
        font-size: 16px; 
        font-weight: bold; 
        box-shadow: 0px 0px 6px #006666;
    }

    #btn:active {
        box-shadow: none;
    }

}

@media all and (max-width: 1366px) {

    #image {
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 35vh;
        min-width: 100vw;
        border: 0 !important;
    }

    #header {
        background-color: #F1f2f2; 
        height: 75px;
    }

    #ctext {
        font-size: 12px; 
        color: #434444;
    }

    #cardbody {
        background-color: #014388;
    }

    #cardtext {
        font-size: 14px; 
        color: #FFF; 
        font-weight: bold;
    }

    #blueyou {
        font-size: 14px; 
        color: #FFF; 
        font-weight: bold;
    }

    #estimates {
        font-size: 12px; 
        color: #FFF; 
        font-weight: bold;
    }

    #btn {
        font-size: 12px; 
        font-weight: bold; 
        box-shadow: 1px 1px 3px #013636;
    }

    #btn:active {
        box-shadow: none;
    }
}

@media all and (max-width: 320px) {
    #image {
        min-height: 30vh; 
    }
}