#nav {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    transition: bottom 0.3s;
    background-color:#FFF;
}

#icon, #txt {
    color:lightgrey; 
}

#txt {
    font-size: 12px;
}

#wdth {
    width: 100%;
}

#bckgnd {
    background-color: #014388;
}

#wfnt {
    font-weight: bold; 
    color: #0a7ebd;
}

#wfnt:hover {
    color:white;
}

#wfnt:active {
    color: yellow;
}

#mleft {
    margin-left: 10px;
}