#nav {
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    background-color:#FFF;
}

.mx-auto, #txt {
    color:lightgrey; 
}

#txt {
    font-size: 12px;
}

#wdth {
    width: 100%;
}

#bckgnd {
    background-color: #0a7ebd;
}

#wfnt {
    font-weight: bold; 
    color: white;
}

#mleft {
    margin-left: 10px;
}