@media all and (min-width: 480px) { NOT NEEDED FOR LOGIN PAGE
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  /*set div after "<BrowserView>" to this id*/
  #bckgrnd {
    background-image: url("../Images/DesktopLoginBackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
  }

  /*add div with this class around bluesky image & "SERVING CENTRAL FLORIDA"*/
  .wrapper {
    position: relative;
  }

  /*set "SERVING CENTRAL FLORIDA" to this id*/
  #text {
    font-weight: bold; 
    color: #0a7ebd;
    left: 0;
    right: 0;
    font-size: 14px;
  }

  #img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img {
   width: 100%; 
  }

  /*set form elements to this id*/
  #form {
    max-width: 250px;
  }

  Form.Control {
    font-size: 18px;
  }

  .btn {
    font-weight: bold !important;
  }
}

/* MOBILE VIEW */

@media all and (max-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }

  #bckgrnd {
    background-image: linear-gradient(to bottom, #b1ddf2, #e6f2ff);
    height: 100vh;
    min-width: 100%;
  }

  .wrapper {
    position: relative;
  }

  #text {
    position: absolute;
    font-weight: bold; 
    color: #0a7ebd;
    margin-top: -5.5vw !important;
    left: 0;
    right: 0;
    font-size: clamp(14px, 1.5vw, 22px);
  }

  img {
   width: 100%; 
  }


  #form {
    max-width: 250px;
  }

  Form.Control {
    font-size: 18px;
  }

  .btn {
    font-weight: bold !important;
  }
}
